body {
    background: #202030;
}

.notLargeScreen {
    display: none !important;
}

@media only screen and (max-width: 767px) {
    .largeScreen {
        display: none !important;
    }

    .notLargeScreen {
        display: block !important;
    }
}